/**
 * Kayako search
 */

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #333;
	background: url(../img/background.jpg) repeat-x #557334;
	margin: 0;
}

div {
	display: block;
	position: relative;
}

div#esbb-simple-app {
	position: relative;
	width: 980px;			/* aginfra */
	margin: 0 auto;			/* aginfra */
}

div#esbb-simple-header {
	border-bottom: 1px solid #ccc;
	padding: 20px 30px;
	background: #e5e5e5;
	color: #797979;
	text-shadow: 1px 1px 0px rgba(255,255,255, .2);
}
div#esbb-simple-left-col, div#esbb-simple-center-col, div#esbb-simple-right-col {
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
div#esbb-simple-left-col {
	width: 30%;
	/*padding: 20px 30px;*/
	display: block;
	float: left;
	border-right: 1px solid #ccc;
}
div#esbb-simple-center-col {
	width: 70%;
	/*padding: 20px 30px;*/
	float: left;
}

div#esbb-simple-right-col {
	width: 0;
	/*padding: 20px 30px;*/
	display: block;
	float: left;
}

a.esbb-search-button {
	border: 1px solid #CCC;
	border-radius: 12px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	text-shadow: 0 1px 0 white;
	color: #333;
	font: 12px sans-serif !important;
	font-weight: bold !important;
	text-decoration: none !important;
	-webkit-border-radius: 11px !important;
	-khtml-border-radius: 11px !important;
	-moz-border-radius: 11px !important;
	border-radius: 11px !important;
	margin: 0 !important;
	outline: none;
	display: inline-block;
	padding: 3px 10px;
	cursor: pointer;
}
.esbb-search-query {
	width: 50%;
	margin-right: 5px;
	border: 1px solid #aaa;
	height: 33px;

	background-color: #fff;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
    background-image: -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: linear-gradient(top, #eeeeee 1%, #ffffff 15%);
}
.esbb-search-url {
	background: #ddd;
	margin-left: 45px;
	width: 475px;
	padding: 5px 5px 5px 5px;
}
#esbb-simple-search-filters div.select2-container {
	vertical-align: middle;
	width:50%;
}
#esbb-simple-search-results h3, #esbb-simple-search-results h4  {
	margin-top: 0;
	margin-bottom: 0;
}

#esbb-simple-search-results a {
	color: #797979;
	font-weight: bold;
}

#esbb-simple-search-results ul {
	margin: 0;
}

#esbb-simple-search-results {
	padding: 5px;
	color: #797979;
	text-shadow: 1px 1px 0px rgba(255,255,255, .2);

	background: #e5e5e5;
	border-bottom: 1px solid #c9c9c9;

	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}
.esbb-result {
	word-wrap: break-word;
	margin-bottom: 3em;
	background: #eeeeee;
	padding: 10px;	
}
.esbb-result>.esbb-result-title>a {
	font-weight: bold;
	font-size: 1.17em;
	display: block;
}

div#esbb-simple-left-col li {
	font-size: 90%;
  list-style: none;
}
div#esbb-simple-left-col ul {
  padding-left: 0px;
}

div.esbb-pie {
	max-height: 150px;
}

div.esbb-timeline {
	width: 600px;
	height: 400px;
}

div.esbb-timeline div {
	position: static;
}

div.esbb-pie {
	width: 159px;
	height: 159px;
	margin-bottom: 30px;
}

div.esbb-pie div {
	position: static;
}

table.esbb-facet-selector-table {
	width: 100%;
}
table.esbb-facet-selector-table td {
	padding: 0px;
	margin: 0px;
}

table.esbb-facet-selector-table td.esbb-count {
	font-size: 90%;
}

#esbb-simple-app label{
	width: 120px;
	display: inline-block;
}

div#esbb-simple-navigation {
	padding: 0 10px 0 40px;
	height: 32px;
	display: block;

	color: #fdfdfd;
	font: bold 12px/32px Arial, sans-serif;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(0,0,0, .35);

	background: url(../img/nav.gif) #6c6e74 no-repeat 7px 7px;
	background: url(../img/nav.gif) -moz-linear-gradient(top,  #6c6e74 0%, #4b4d51 100%) no-repeat 7px 7px;
	background: url(../img/nav.gif) -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c6e74), color-stop(100%,#4b4d51)) no-repeat 7px 7px;
	background: url(../img/nav.gif) -webkit-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%) no-repeat 7px 7px;
	background: url(../img/nav.gif) -o-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%) no-repeat 7px 7px;
	background: url(../img/nav.gif) -ms-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%) no-repeat 7px 7px;
	background: url(../img/nav.gif) linear-gradient(top,  #6c6e74 0%,#4b4d51 100%) no-repeat 7px 7px;

	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);

}

div#esbb-simple-navigation a{
	color: #ffffff;
}

.facets-results li{
	display: inline;
	border: 1px solid #c9c9c9;
	border-radius: 5px;
	padding: 1px 8px;
}

#image-header{
	background: url(../img/aginfra_logo.png) no-repeat;
	height:160px;
}

.s5_body_background {
	width: 100%;
	background: transparent url(../img/aginfra_repeatingdots.png) repeat;
}